.container {
  min-height: 80vh;
  margin-bottom: 10px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-form {
  margin-top: 70px;
  min-height: 80vh;
  display: flex;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
}
