.form-width {
  width: 800px;
}
.mrg-btt {
  margin-bottom: 15px;
}

.form-all-no-border {
  /* width: 720px; */
  background: #ffffff;
  /* border-radius: 5px; */
  margin: 15px 0px;
  /* border: #9d9e9e 1px solid; */
}
/* header form */
.form-all-no-border header {
  text-align: center;
  /* font-size: 24px; */
  font-weight: 600;
  padding: 0 0 10px;
  /* border-bottom: 1px solid #bfbfbf; */
}

.form-all-no-border form {
  margin: 0px 25px;
}

form .dbl-field-col3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.dbl-field-col3 .field {
  height: 40px;
  position: relative; /* ใส่คลุม absolute*/
  width: calc(100% / 3 - 13px);
}

.form-all .title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 500;
  color: #393e46;
}
.form-all form {
  margin: 0px 25px;
}

.form-all-no-border form i {
  position: absolute;
  left: 18px;
  top: 50%;
  color: #bfbfbf;
  font-size: 17px;
  pointer-events: none; /*ทำให้ div click ไม่ได้*/
  transform: translateY(-50%);
}

@media (max-width: 600px) {
  .form-all-no-border header {
    text-align: center;
  }
  form .dbl-field-col3 {
    flex-direction: column;
  }
  .dbl-field-col3 .field {
    width: 100%;
    margin-bottom: 20px;
  }

  form .button-area {
    flex-direction: column;
  }
  .button-area button {
    width: 100%;
    margin: 10px 0 0 0;
  }
}
