/* search */
.container-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 280px;
  background-color: #fffdf9;
  padding: 3px;
  border-radius: 8px;
  color: #393e46;
  border: 1px solid #c4c4c4;
  box-shadow: 3px 3px 0px #a4ebf3;
  cursor: pointer;
}
.search input {
  font-size: 16px;
  margin: 0 8px 0 8px;
  width: 100%;
  border: none;
  outline: none; /*ลบ box ล่องหนแบบสิ้นซาก*/
  background-color: #fffdf9;
  color: #393e46;
}
.search input::placeholder {
  color: #c4c4c4;
}
i.icon-search {
  color: #c4c4c4;
}

@media screen and (max-width: 800px) {
  .container-search {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 10px 0px 20px 0px;
  }
}
